h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    
}

h2 {
    color: sienna;
    font-family: 'Lobster', cursive;
}

h3 {
    font-family: 'Lobster', cursive;
}

.foo{
    border: 25px black;
    width: 600px;
    border-radius: 25px;
    }
.foo2{
    border: 15px black;
    width: 500px;
    border-radius: 50px 15px;
    }

.black{
    background: black
}

.main{
    width: 1000px;
    background: lightblue;
}
